// Light Colors
$--light-1: rgb(108, 108, 112);
$--light-2: rgb(142, 142, 147);
$--light-3: rgb(174, 174, 178);
$--light-4: rgb(188, 188, 192);
$--light-5: rgb(216, 216, 220);
$--light-6: rgb(235, 235, 240);

// Dark Colors
$--dark-1: rgb(174, 174, 178);
$--dark-2: rgb(124, 124, 128);
$--dark-3: rgb(84, 84, 86);
$--dark-4: rgb(68, 68, 70);
$--dark-5: rgb(54, 54, 56);
$--dark-6: rgb(36, 36, 38);

// Blue
$--blue-light: rgb(64, 156, 255);
$--blue-dark: rgb(0, 64, 221);

// Green
$--green-light: rgb(48, 219, 91);
$--green-dark: rgb(36, 138, 61);

// Indigo
$--indigo-light: rgb(125, 122, 255);
$--indigo-dark: rgb(54, 52, 163); 

// Red
$--red-light: rgb(255, 105, 97);
$--red-dark: rgb(215, 0, 21);

// Teal
$--teal-light: rgb(112, 215, 255);
$--teal-dark: rgb(0, 113, 164);

// Yellow
$--yellow-light: rgb(255, 212, 38);
$--yellow-dark: rgb(178, 80, 0);